<!DOCTYPE>
<html>
	<head>
		<title>Results</title>
		 <!--META HTTP-EQUIV="REFRESH" CONTENT="1"-->
		 <meta http-equiv="Pragma" content="no-cache">
		 <!--meta http-equiv="Content-Type" content="text/html; NO-CACHE; charset=iso-8859-1" /-->
		<link href="/static/app.css" rel="stylesheet" type="text/css">
		<script src="/static/jquery.min.js"></script>
		<script type="text/javascript" src="/static/choiceResult.js"></script>
	</head>
	<body>
	<div id="header">
			<h2> Design and Analysis of Face Recognition Algorithms</h2>
		</div>
	<div id="page">
		<div id="{{status}}">
            <h2> {{ heading }} </h2>
		   <img src="{{ filename }}" alt="Choice Result"/>
		</div>
	</div>
		<!--div id="footer">
			<p>Project by: Aakanksha Parameshwar <span>(1BY10CS002)</span>, Bharath M S <span>((1BY10CS015)</span></p>
		</div-->
	</body> 
</html>
