<!DOCTYPE>
<html>
	<head>
		<title>Choice</title>
		<link href="/static/app.css" rel="stylesheet" type="text/css">
		<script type="text/javascript">
			WebFontConfig = {
			  google: { families: [ 'Merriweather:300:latin', 'Open+Sans:300,400:latin' ] }
			};
			(function() {
			  var wf = document.createElement('script');
			  wf.src = ('http:' == document.location.protocol ? 'http' : 'http') +
			    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			  wf.type = 'text/javascript';
			  wf.async = 'true';
			  var s = document.getElementsByTagName('script')[0];
			  s.parentNode.insertBefore(wf, s);
			})();
		</script>
	</head>
	<body>
	<div id="header">
			<h2> Design and Analysis of Face Recognition Algorithms</h2>
		</div>
	<div id="page">
		<p class="comment"> Choose a test image --- just click on it!</p>
		<!--div id="border"></div-->
		<div id="image-choice">
			{% block content %}
            {% for img in images %}
            {% if db == '/static/images/yalefaces/'%}
			<a href="{{'/choiceResult/'+img}}" class="display-image"><div><img class="image" src="{{ '/static/images/'+img[:img.find('pgm')-1]}}" alt="choiceImage"/></div></a>
			{% else %}            
			<a href="{{'/choiceResult/'+img}}" class="display-image"><div><img class="image" src="{{ '/static/images/'+img[:img.find('pgm')]+'png' }}" alt="choiceImage"/></div></a>
            {% endif %}
			{% endfor%}
			{% endblock %}
		</div>
	</div>
		<!--div id="footer">
			<p>Project by: Aakanksha Parameshwar <span>(1BY10CS002)</span>, Bharath M S <span>((1BY10CS015)</span></p>
		</div-->
	</body> 
</html>
