<!DOCTYPE>
<html>
	<head>
		<title>Results</title>
		<link href="/static/app.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
	<div id="header">
			<h2> Design and Analysis of Face Recognition Algorithms</h2>
		</div>
	<div id="page">
		
		
		<div id="description">
		</div>
		<div id="border"></div>
		<div id="choose">
			<p>Pic an image to run the test</p>
			<!--ul id="list-options">
				<div class="person-front">
					<img alt="/" class="image" src="/images/sumit.jpg">
						<div class="name">
							<p>Sumit</p>
						</div>
				</div>
			</ul-->
		</div>
	</div>
		<div id="footer">
			<p>Project by: Aakanksha Parameshwar <span>(1BY10CS002)</span>, Bharath M S <span>((1BY10CS015)</span></p>
		</div>
	</body>
</html>