<!DOCTYPE>
<html>
	<head>
		<title>Choose Database</title>
		<link href="/static/app.css" rel="stylesheet" type="text/css">
		<script type="text/javascript">
			WebFontConfig = {
			  google: { families: [ 'Merriweather:300:latin', 'Open+Sans:300,400:latin' ] }
			};
			(function() {
			  var wf = document.createElement('script');
			  wf.src = ('http:' == document.location.protocol ? 'http' : 'http') +
			    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			  wf.type = 'text/javascript';
			  wf.async = 'true';
			  var s = document.getElementsByTagName('script')[0];
			  s.parentNode.insertBefore(wf, s);
			})();
		</script>
	</head>
	<body>
	<div id="header">
            <h4>VTU Final year project </h4>
			<h1> Design and Analysis of Face Recognition Algorithms</h1>
            <h4>by - Aakanksha Parameshwar (1BY10CS002), Bharath M S (1BY10CS015) </h4>
	</div>
	<div id="page">
		
		<div id="data">
		<!--div id="index-image"><img alt="/" class="image"  src="../static/images/face_recognition.png"></div-->
											
		<div id="introduction">
		<p>Face Recognition is the identification of a face as a known face or an unlnown face. In this project, we implement the various face recognition algorithms and compare them based on their time complexity, accuracy in matching, the various challenges they overcome, etc.<p>
		<p>We have used 2 standard databases, namely Yale Database A, ORL Database for our project. The algorithms that we have implemented are:</p>
		<ul>
			<li>Principle Component Analysis (PCA)</li>
			<li>Linear Discriminant Analysis (LDA)</li>
			<li>Scale Invariant Feature Tranform (SIFT)</li>
			<li>Line Edge Map (LEM)</li>
		</ul>
		
		</div>
		<div id="border"></div>
		<p class="comment"><strong> Click below to begin the test.</strong></p>
		<div id="button"><a class="option" href="/startTest"> Start Test</a></div>
		</div>
		
	</div>
	<!--div id="footer">
			<p>Project by: Aakanksha Parameshwar <span>(1BY10CS002)</span>, Bharath M S <span>((1BY10CS015)</span></p>
		</div-->
	</body>
</html>
